@page "/"
@using System.Text.Json

@if (!Loading)
{
    <PageTitle>@TS.SafeGet("siteTabTitle")</PageTitle>

    <MudContainer MaxWidth="MaxWidth.Medium">
        <h1>@TokenSummary.Title</h1>

        <div class="memePicWrapper">
            <img src="@TokenSummary.Image" class="memePic" alt="@TS.SafeGet("memeAltText")" />
        </div>

        <hr>

        <h2>@TS.SafeGet("aboutTitle")</h2>
        <p>
            @TS.SafeGet("aboutLineOne")
            <br>
            @TS.SafeGet("aboutLineTwo")
            <br>
            @TS.SafeGet("aboutLineThree")
        </p>

        <hr>

        <h2>@TS.SafeGet("tokenDescriptionTitle")</h2>
        <p>@(TokenSummary?.Description?.Replace("<p>", "")?.Replace("</p>", "") ?? @TS.SafeGet("tokenDescriptionMissing"))</p>

        <hr>

        <h2>@TS.SafeGet("blockchainHistoryTitle")</h2>
        @if (TokenSummary?.TokenTransactions?.Any() ?? false)
        {
            var i = 1;
            foreach (var transaction in TokenSummary.TokenTransactions)
            {
                <MudCard>
                    <h3>@(string.Format(TS.SafeGet("transactionTitle"), i++))</h3>
                    <p>@transaction?.From?.Name</p>
                    <p>@transaction?.To?.Name</p>
                </MudCard>
            }
        }
        else
        {
            <MudCard>
                @TS.SafeGet("noTransactions")
            </MudCard>
        }

        <hr>

        <h2>@TS.SafeGet("validationInfoTitle")</h2>

        <p>@TS.SafeGet("validationInfoPreface")</p>
        <code>
            @JsonSerializer.Serialize(TokenSummary, new JsonSerializerOptions { WriteIndented = true })
        </code>
    </MudContainer>
}